h1 {
    background-color: pink;
    color: purple;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    font-family: 'Brush Script MT', Garamond, serif;
}

body {
    background-color: seashell;
}

ul {
    background-color: rgb(227, 174, 240);
    font-size: 32px;
    text-align: left;
    font-family: Haettenschweiler, Garamond, serif
}

.one {
    color: rgb(243, 236, 243);
}

.two {
    color:rgb(133, 0, 133)
}